<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/longin.css') }}">
  <title>Document</title>
</head>

<body>
  <main>
    <form action="/auth" method="POST">
      <div class="form-group">
        <h1>GitHub Lite</h1>
        <legend>login</legend>
      </div>
      <div class="form-group">
        <label for="">Username</label>
        <input class="stream" type="text" class="username" name="username">
        <label for="">Password</label>
        <input class="stream" type="password" class="password" name="password">
      </div>
      <div class="erreur">{{erreur}}</div>
      <div class="form-group">
        <button class="btn">Submit</button>
        <a href="/adduser" class="link">
          don't have an account? register
        </a>
      </div>
    </form>
  </main>
</body>

</html>